=====================================================================

Welcome at webdev!

All traffic, transmissions and protocols from and to this machien are logged.

This machine can be restarted when used inappropriately.
Make sure that you always have a backup.
Use github or bitbucket for source control.

=====================================================================
